<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="image-filter-section">
    <div fxFlex class="filter-title font-weight-bold">
        <span>Filters</span>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="isbn-filter-section">
        <div class="filter-label">
            <span>ISBN</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <div fxFlex="80">
                <input type="text" />
            </div>

            <div>
                <button mat-icon-button>
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="title-filter-section">
        <div class="filter-label">
            <span>Title</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <div fxFlex="80">
                <input type="text" />
            </div>

            <div>
                <button mat-icon-button>
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="author-filter-section">
        <div class="filter-label">
            <span>Author</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <div fxFlex="80">
                <input type="text" />
            </div>

            <div>
                <button mat-icon-button>
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="imageType-filter-section">
        <div class="filter-label">
            <span>Image Type</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <div fxFlex="80">
                <input type="text" />
            </div>

            <div>
                <button mat-icon-button>
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="publicationType-filter-section">
        <div class="filter-label">
            <span>Publication Type</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="80">
                <input type="text" />
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="copyrightYear-filter-section">
        <div class="filter-label">
            <span>Copyright Year</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="80">
                <input type="text" />
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="copyrightYear-filter-section pb-4">
        <div class="filter-label">
            <span>Elsevier Image (Y/N)</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="60">
                <input type="text" />
            </div>
        </div>
    </div>

    <div fxFlex class="filter-title font-weight-bold">
        <span>Archieve image request</span>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="archieveImage-filter-section">
        <div class="filter-label">
            <span>1 image from 1 publication</span>
        </div>

        <div class="filter-component" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <div fxFlex="50">
                <button mat-raised-button color="primary">Submit Request</button>
            </div>

            <div fxFlex="50">
                <button mat-raised-button>Clear All</button>
            </div>
        </div>
    </div>
</div>