.image-filter-section {
    padding: 10px;
}

.filter-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    font-size: 16px;
}

.filter-label {
    font-weight: lighter;
    color: royalblue;
}

.filter-component input {
    width: 100%;
}

button:focus {
    outline: 0px;
}